body {
    background-image: url(/CURSO2-HTML/projeto1/fundo.png);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
   
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0;
  
}

.container-2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
    
    display: inline-block;
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;

}

.container-3 {
    background-color: rgb(207, 191, 143);
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    text-align: center;
    background-color: rgba(0, 0, 0, .1);
}
p{
    text-align: justify;
}
.container-4 {
   
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}
.fotos{
    display: flex;
    
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}
.lorem{
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, .1);
}
.footer{
    height: 30px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    
}
a{
    text-decoration: none;
    color: white;
}