body{
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    
}
.container{
   
    width: 50%;
    display: block;
   margin-left: 25%;
}
.logotipo{
    margin-left: 43% ;
    display: block;
    align-items: center;
    justify-content: center;
    
}
h1{
    margin-left: 23%;
    text-align: center;
    border: 5px solid rgb(102, 102, 102);   
    width: 50%;
    display: block;
    padding: 10px;
    color: rgb(102, 102, 102);   
    text-transform: uppercase;
}
h2{
    text-align: center;
    color: rgb(102, 102, 102);   
}
h3{
    display: block;
    margin-left: 23%;
    text-align: center;
    color: rgb(102, 102, 102);
    border-top: 2px solid rgb(102, 102, 102);   
    border-left: none;
    border-bottom: 2px solid rgb(102, 102, 102);   ;
    width: 50%;
    padding: 20px;
}
p{
    text-align: center;
}
button {
    font-size: 16px;
    font-family: 'Verdana';
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #25D366;
    border-radius: 25px;
    margin-left: 35%;
    border: #25D366;


}
 a{
    text-decoration: none;
    color: white;
}
.mail{
    color: black;
}